body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 0px 150px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    list-style-position: inside;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 30px;
    font-size: 18px;
  }

a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 48px 0px;
    gap: 20px;
}

.hero .text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.hero .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text .main {
    width: 400px;
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    flex-wrap: wrap;
}

.text .sub {
    width: 450px;
    color: #E5E7EB;
    font-size: 18px;
    flex-wrap: wrap;
}

button {
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 8px 24px;
    font-weight: bold;
}

#herosign {
    border: 1px solid black;
    border-radius: 8px;
}

#heroimage {
    width: 500px;
    height: 200px;
    background: #aaa;
}

img {
    width: 100px;
    height: 100px;
    border: 2px solid #3882F6;
    border-radius: 8px;
}

.info .title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 0;
}

.info .content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.content .illus {
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.content .illustext {
    display: flex;
    width: 150px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer {
    background-color: #1F2937;
}