body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    
}

.nav {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    justify-content: center;
}

.header {
    display: flex;
    padding: 12px 0px;
    justify-content: space-evenly;
    gap: 16px;
}

.leftheader {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightheader {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    list-style-position: inside;
    display: flex;
    padding: 0;
    margin: 0;
    font-size: 18px;
    gap: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 48px 0px;
    gap: 20px;
}

.herotext {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.heroimage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.heromain {
    width: 400px;
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    flex-wrap: wrap;
}

.herosub {
    width: 450px;
    color: #E5E7EB;
    font-size: 18px;
    flex-wrap: wrap;
}

button {
    color: #F9FAF8;
    background-color: #3882F6;
    height: 36px;
    width: 108px;
    padding: 8px 24px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
}

button.herosign   {
    border: 1px solid black;
}

.heroimage img {
    width: 400px;
    height: 200px;
    background: #aaa;
    border: none;
}

.info {
    padding: 24px 0px 72px 0;
}

.infocontent img {
    width: 100px;
    height: 100px;
    border: 2px solid #3882F6;
    border-radius: 8px;
}

.infotitle {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 24px;
}

.infocontent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    margin: 0px;
    padding: 0px;
}

.infocontent .illus {
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.infocontent .illustext {
    display: flex;
    width: 150px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 72px 0;
}

.quotecontainer {
    display: flex;
    flex-direction: column;
    width: 850px;
    gap: 5px;
}

.quotetext {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
}

.quotesource {
    font-weight: bold;
    font-size: 24px;
    align-self: flex-end;
    margin: 0;
    padding: 0;
}

.action {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 72px 0;  
}

.actioncontainer {
    background-color: #3882F6;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 700px;
    padding: 100px;
}

.actiontext {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
}

.actionmain {
    color: #F9FAF8;
    font-size: 20px;
    font-weight: bold;
}

.actionsub {
    color: #F9FAF8;
    font-size: 16px;
}

button.actionbutton {
    border: 2px solid #3882F6 ;
}

.footer {
    background-color: #1F2937;
}